body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: -webkit-linear-gradient(170deg, #505590,#4a86c9,#2fbbfa);
    background: linear-gradient(170deg, #505590,#4a86c9,#2fbbfa);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    /* background-color: #343957;*/
    background-color: rgba(255, 255, 255, 0.9);    
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px !important;
    width: 700px !important;

}
